################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuperMarket/.vs/SuperMarket/v17
/SuperMarket/SuperMarket/obj
/SuperMarket/SuperMarket/bin
/SuperMarket/SuperMarket.Entities/obj
/SuperMarket/SuperMarket.Entities/bin
/SuperMarket/SuperMarket.UnitTests/obj
/SuperMarket/SuperMarket.UnitTests/bin
